
div.fade-in(ng-class='{"fade-in-active": loaded}')

  cpx-step(name='welcome', hide-back='true')
    cpx-welcome(model='model', fields='welcomeFields', namespace='welcome',
    ng-class='{"is-active": isWelcomeActive() }' )

  cpx-step(name='elegibility' ng-if='isElegibilityDisplayed()', hide-back='true')
    cpx-elegibility(model='model', fields='elegibilityFields', namespace='elegibility',
    ng-class='{"is-active": isElegibilityActive() }' )

  cpx-step(name='calculation' ng-if='isCalculationDisplayed()')
    cpx-calculation(model='model', fields='calculationFields', namespace='calculation',
    ng-class='{"is-active": isCalculationActive() }' )
