@import '../bower_components/font-awesome/less/font-awesome.less';


@fa-font-path: '../bower_components/font-awesome/fonts';

html {
  overflow-y: scroll;
}

body {
  position: relative !important;
  top: 0 !important;
}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// injector
@import 'cpx/cpx.less';
@import 'main/main.less';
@import 'styles/buttons.less';
@import 'styles/colors.less';
@import 'styles/fade-in.less';
@import 'styles/labels.less';
@import 'styles/links.less';
@import 'styles/variables.less';
@import '../components/cpx-step/cpx-step-policy.less';
@import '../components/cpx-step/cpx-step-welcome.less';
@import '../components/cpx-step/cpx-step.less';
@import '../components/cpx/cpx.less';
@import '../components/formly/cpx-apply.less';
@import '../components/formly/cpx-bic-category.less';
@import '../components/formly/cpx-calculation.less';
@import '../components/formly/cpx-policy.less';
@import '../components/formly/formly-autocomplete.less';
@import '../components/formly/formly-input.less';
@import '../components/formly/formly-radio.less';
@import '../components/formly/formly-slider.less';
@import '../components/formly/formly-title.less';
@import '../components/formly/formly.less';
@import '../components/navbar/navbar.less';
// endinjector
