
@navbar-height: 48px;
@navbar-z-index: 999999999;

.navbar {
  height: @navbar-height;
  position: fixed;
  width: 100%;

  z-index: @navbar-z-index;

  .navbar-top {
    height: @navbar-height;
    background-color: @dark-blue;

    .navbar-top-inner {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
    }
  }


  .help-button {
    margin: 0;
    border: none;
    max-height: 48px;
    color: @light-blue;
  }

  .acc-logo {

    md-icon {
      height: 64px;
      width: 64px;
      top: -3px;
      position: relative;
    }

  }

}




button.md-button.reset-button {
  position: absolute;
  opacity: 0.05;
  transition: all 0.5s ease;
  margin: 5px;
  &:hover {
    opacity: 1;
  }
}
