
.navbar(ng-controller="NavbarController")
  .navbar-top

  .navbar-bottom




//div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
  div.container
    div.navbar-header
      a.navbar-brand(href='/') cpx

    div#navbar-main.navbar-collapse.collapse(collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in nav.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}
