//navbar


md-content
  form.bic-autocomplete-test
    md-autocomplete(md-selected-item='main.selectedBic', md-search-text='main.bicSearchQuery', md-autoselect='true'
    md-items='bicItem in main.searchBic(main.bicSearchQuery)', md-min-length='1', md-delay='100'
    md-item-text='bicItem.code + ": " + bicItem.desc', placeholder='Search for a bic', md-match-case-insensitive='true',
    md-menu-class="autocomplete-bic-template")
      md-item-template
        span.bic-autocomplete-item
          strong.bic-item-title(md-highlight-text='main.bicSearchQuery', md-highlight-flags='^i') {{bicItem.code}}: {{bicItem.desc}}
          span.bic-item-definition {{bicItem.definitionPlainText}}
      md-not-found
        | No bic matching "{{main.bicSearchQuery}}" were found.

md-content
  h1.page-header Features:
  ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
    li
      a(href='#', tooltip='{{thing.info}}')
        | {{thing.name}}
        button.close(type='button', ng-click='main.deleteThing(thing)') &times;

md-content
  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='main.addThing()') Add New

md-content
  label Address Lookup Test
  div
    md-autocomplete(md-floating-label='Address', md-items='address in main.addressQuerySearch(main.addressSearchText, true)',
    md-search-text='main.addressSearchText', md-selected-item='main.address', md-item-text='address.description')
      md-item-template
        span(md-highlight-text='main.searchText') {{address.description}}

//footer
