navbar

md-content(layout-padding)
  form.businessnames-autocomplete-test
    md-autocomplete(md-selected-item='main.selectedBusinessname', md-search-text='main.businessnameSearchQuery', md-autoselect='true'
    md-items='businessnameItem in main.searchBusinessnames(main.businessnameSearchQuery)', md-min-length='1', md-delay='150'
    md-item-text='businessnameItem.name + " (" + businessnameItem.businessNumber + ")"', placeholder='Search for a business name', md-match-case-insensitive='true',
    md-menu-class="autocomplete-businessname-template")
      md-item-template
        span.businessname-autocomplete-item
          strong.businessname-item-title(md-highlight-text='main.businessnameSearchQuery', md-highlight-flags='^i') {{businessnameItem.name}} ({{businessnameItem.businessNumber}})
          span.businessname-item-definition {{businessnameItem.address}}
      md-not-found
        | No businessname matching "{{main.businessnameSearchQuery}}" were found.



md-content
  label Address Lookup Test
  div
    md-autocomplete(md-floating-label='Address', md-items='address in main.addressQuerySearch(main.addressSearchText, true)',
    md-search-text='main.addressSearchText', md-selected-item='main.address', md-item-text='address.description')
      md-item-template
        span(md-highlight-text='main.searchText') {{address.description}}

//footer
