

form

  h1 Welcome to CPX

  p Ensure you know exactly how much you'll receive each week if you are injured and can't work.

  p If you choose CPX it will replace your standard CoverPlus product.

  p The application will take you through three steps:

  ol
    li Eligibility assessment
    li Estimate your cover
    li Apply for CPX


  md-button(ng-click='start($event)') Start your application

  md-button() I want more details about CPX
