


h1 Cover

form.bic-autocomplete-test

  label What is your Business industry
  md-autocomplete(md-selected-item='selectedBic', md-search-text='bicSearchQuery', md-autoselect='true'

  md-items='bicItem in searchBic(bicSearchQuery)', md-min-length='1', md-delay='150'
  md-item-text='bicItem.code + ": " + bicItem.desc', placeholder='Describe the industry you\'re in', md-match-case-insensitive='true',
  md-menu-class="autocomplete-bic-template")

    md-item-template
      span.bic-autocomplete-item
        strong.bic-item-title(md-highlight-text='bicSearchQuery', md-highlight-flags='^i') {{bicItem.code}}: {{bicItem.desc}}
        span.bic-item-definition {{bicItem.definitionPlainText}}
    md-not-found
      | No bic matching "{{bicSearchQuery}}" were found.


  div
    label Your earnings for the last year
    input(type='number', ng-model='earnings')


  md-slider-container
    label How much you want to be covered
    md-slider(flex='', min='0', max='100000', step="500" ng-model='cover', aria-label='red')
    input(type='number', ng-model='cover')


  div
    label(ng-show='cpxLevyRate && isValidCalculation') CPX Levy rate: {{cpxLevyRate}}
    md-progress-circular(ng-show='! cpxLevyRate && isValidCalculation', md-mode='indeterminate')
