
@row-height: 50px;

.formly-field-cpx-calculation {

  padding: 50px 0;
  max-width: 100%;
  @media(min-width: @screen-xs-min){
//    width: 440px;
  }

  md-progress-circular {
    position: absolute;
    display: inline-block;
  }
  md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {
    border-left-color: @deep-blue;
  }
  md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-right-color: @deep-blue;
  }

  .calculation-container {

    display: flex;
    flex-direction: column;
    @media(min-width: @screen-xs-min){
      flex-direction: row;
    }
  }

  .cp-calculation {
    opacity: 0.5;
  }

  .calculation {
    margin-right: 24px;
    min-width: 160px;
    height: 160px;



    border: 1px solid @dark-grey;

    padding: 10px 20px 20px;

    h3 {

    }

    .label {
      font-weight: 700;
      font-size: 0.8em;
      margin-bottom: 4px;
    }
    .value {
      color: @deep-blue;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 12px;
    }
  }





//
//  .calculation-row {
//    min-height: @row-height;
//  }
//
//  .calculation-column {
//
//    > * {
//      line-height: @row-height;
//      align-self: center;
//    }
//
//
//    border-right: 1px solid #777;
//    border-bottom: 1px solid #777;
//    &.border-left {
//      border-left: 1px solid #777;
//    }
//    &.border-top {
//      border-top: 1px solid #777;
//    }
//  }

}
