


h3.cover-plus-title Cover Plus Extra

h2 {{model.selectedPolicy === 'standard' ? to.standardTitle : to.llwcTitle}}

h3 Covered {{currencyFormat(model.cover)}} for {{model.selectedPolicy === 'standard' ? model.cpxCalculation : model.cpxLlwcCalculation}} p/a

