

.calculation.cp-calculation
  h3 Cover Plus
  .amount
    div.label Amount
    div.value {{currencyFormat(model.earnings * 0.8)}}
  .cost(ng-show='cpCalculation')
    div.label Levy Cost
    div.value {{cpCalculation}}

  md-progress-circular(ng-show='! cpCalculation' md-mode='indeterminate')

.calculation.cpx-calculation
  h3 Cover Plus Extra

  .amount
    div.label Amount
    div.value {{currencyFormat(model.cover)}}

  .cost(ng-show='cpxCalculation')
    div.label Levy Cost
    div.value {{cpxCalculation}}
  md-progress-circular(ng-show='! cpxCalculation' md-mode='indeterminate')


