
@radio-field-height: 90px;


.formly-radio-container {
  label {
    display: block;
    margin-bottom: 16px;
  }

  &.horizontal {
    md-radio-group {
      display: flex;
    }
    md-radio-button {
      margin: 0 10px !important;
    }
  }
}

.formly-field-radio {
  height: @radio-field-height;
}

.formly-field-radio.ng-leave,
.formly-field-radio.ng-enter.ng-enter-active {
  max-height: @radio-field-height;
}

