
@radio-field-height: 140px;

.formly-radio-container {
  label {
    display: block;
    margin-bottom: 16px;
  }
}

.formly-field-radio {
  height: @radio-field-height;
}

.formly-field-radio.ng-leave,
.formly-field-radio.ng-enter.ng-enter-active {
  max-height: @radio-field-height;
}
